{% extends '_base.html' %}

{% block meta_title %}$WGMI NFT{% endblock %}

{% block content %}
    <div class="hero">
        <div class="hero-text">
            <ul>
                <li>Art by Guille23</li>
                <li>Supply liquidity for $WGMI</li>
                <li>Badge of honor for $WGMI OGs</li>
            </ul>
        </div>
        <div class="btn-container">

            <div class="row">
                <button class="btn-small" id="sign-in">
                    <div>Connect Wallet</div>
                </button>
                <br>
                <button class="btn" id="mint-submit">
                    <div>MINT</div>
                    <div class="note">
                        <span id="token_count"></span>
                    </div>
                </button>
                <form>
                    <div class="mint-quantity">
                        <div id="mint-quantity-value">1</div>
                        <input type="range" min="1" max="20" value="1" name="mint-quantity-input" id="mint-quantity-input">
                    </div>
                    <div class="mint-help">0.06 ETH per mint.</div>
                </form>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="lead">
                <h1>Meet the Unruggables</h1>
                <p>
                    The Unruggables is the first NFT collection made by the $WGMI (ERC-20) community.
                    <br>
                    <br>
                    The collection consists of 888 unique Unruggable phoenixes, which represent how we, as a community, rose from the ashes after the token was initially rugged by its creator.
                    <br>
                    <br>
                    All royalties from secondary sales of NFTs in this collection will be directed towards supplying liquidity for the $WGMI token, via purchasing ETH/WGMI LP tokens and locking that liquidity away forever by burning those LP tokens.
                </p>
            </div>

            <div id="cycler">
                <img src="images/preview.gif">
            </div>
        </div>

        <div class="row main-text">
            <div>
                <h1>Collection</h1>
                <p>
                    The number 888 is sacred to the <a href="https://www.wgmi-takeover.com/">$WGMI community</a>. This collection was conceived
                    and created when the community takeover was still very young, so the creator and community decided to use this special number
                    and keep supply low.
                    <br>
                    <br>
                    Providing permanently locked-in liquidity will enable the community-lead $WGMI
                    movement to remain alive and healthy into the future.
                </p>
            </div>

            <div>
                <h1>Proceeds</h1>
                <p>
                    All proceeds from initial sales and royalties from secondary sales
                    will be use to supply liquidity to the
                    uniswap $WGMI-ETH trading pair. Uniswap gives the liquidity provider
                    trading pair liquidity tokens, which can be used later by the provider to redeem
                    the deposited liquidity. A multi-signature wallet controlled by $WGMI community leaders
                    purchases $WGMI tokens, provides liquidity on Uniswap and burns the
                    liquidity tokens so that the liquidity share is unretrievable forever.
                    <br>
                    <br>
                    As this share of the liquidity pool collects fees, a growing portion of the supply of
                    $WGMI tokens will be locked into this unretrievable pool, making $WGMI effectively deflationary.
                </p>
            </div>

            <div>
                <h1>Governance</h1>
                <p>
                    If the $WGMI community decides to use royalties from secondary sales for another purpose, we will 
                    use snapshot voting with the $WGMI token as our governance token. Voting power is determined by 
                    how much $WGMI you hold.
                </p>
            </div>

            <div>
                <h1>Minting</h1>
                <p>
                    Each mint costs .06 eth and we are still working to find the best number of mints per wallet to use.
                    Liquidity pool providers' addresses will be added to a whitelist. Whitelisters will be given
                    access to the presale and will be able to mint their Unruggables before the public sale begins.
                    <br>
                    <br>
                    The creators and not-devs behind this project will mint and set approximately 10
                    tokens aside as rewards for those who contributed to this project, and as gifts for
                    notable GMIs that have helped us move the needle in this movement.
                </p>
            </div>
        </div>

        {# Gallery #}
        <div class="row gallery">
            <img src="images/tokens/420.jpg" width="688" height="676">
            <img src="images/tokens/69.jpg" width="688" height="676">
            <img src="images/tokens/678.jpg" width="688" height="676">
            <img src="images/tokens/888.jpg" width="688" height="676">
        </div>

    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        function rangeSlide(value) {
            document.getElementById('mint-quantity-value').innerHTML = value;
        }

        $("#mint-quantity-input").on("change", function(){
            rangeSlide(this.value)
        });
        $("#mint-quantity-input").on("mousemove", function(){
            rangeSlide(this.value)
        });
    </script>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300&family=VT323&display=swap" rel="stylesheet">
<style>
    @media only screen and (max-width: 1360px) {
.hero {
  height:auto;
  min-height:350px;
  max-height: inherit;
    }
 }
</style>
{% endblock %}
