.btn-container {
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .row {
        width: auto;
        text-align: center;
        position: absolute;
        bottom: 250px;
        left: 50%;
        margin-left: -50%;
        width: 100%;

        .btn {
            font-size: 1.5em;
            color: white;
            padding: 20px 40px;
            background-color: #4753d6;
            width: 250px;
            max-width: 100%;
            text-align: center;
            border: none;

            &:hover {
                background-color: darken(#4753d6, 20);
            }

            div {
                width: 100%;
            }

            .note {
                font-size: .6em;
                color: darken(#fff, 10);
            }
        }

        .btn-small {
            font-size: 1em;
            color: white;
            padding: 10px 20px;
            background-color: grey;
            width: 250px;
            max-width: 100%;
            text-align: center;
            border: none;

            &:hover {
                background-color: darken(grey, 20);
            }
        }
        .opensea-btn {
            text-decoration: none;
            display: block;
            margin: 0 auto;
            font-size: 1em;
            color: white;
            padding: 10px 20px;
            background-color: #6c77ea;
            width: 250px;
            max-width: 100%;
            text-align: center;
            border: none;

            &:hover {
                background-color: lighten(grey, 20);
            }
        }

        form {
            display: block;
            width: 100%;
            margin: 0 auto;

            input {
                width: 250px;
                padding: 10px 20px;
                font-size: 1.5em;
                max-width: 100%;
                text-align: center;
                border: none;
            }
        }
    }
}

.mint-help {
    width: auto;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(white, .6);
}


.mint-quantity {
    display: block;
    padding: 15px;
    margin: 10px auto;
    text-align: center;

    #mint-quantity-value {
        display: block;
        padding: 15px;
        background-color: white;
        max-width: 50px;
        margin: 0 auto;
        border-radius: 5px;
    }

    #mint-quantity-input {
        // Declare variables
        $border-color: #000;
        $border-width: 2px;
        $border: $border-width solid $border-color;
        $border-radius: 5px;

        $background-color: lighten(#4753d6, 20);
        $shadow: 0px 0px 6px #C2C2C2;
        //

        display: block;
        margin: 10px auto;
        width: 100%;
        max-width: 500px;
        height: 58px;
        -webkit-appearance: none;
        background: transparent;

        &:focus {
            outline: none;
        }
        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 30px;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: $shadow;
            background: $background-color;
            border-radius: $border-radius;
            border: $border;
        }
        &::-webkit-slider-thumb {
            box-shadow: $shadow;
            border: $border;
            height: 50px;
            width: 20px;
            border-radius: $border-radius;
            background: #FFFFFF;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -12px;
        }
        &:focus::-webkit-slider-runnable-track {
            background: $background-color;
        }
        &::-moz-range-track {
            width: 100%;
            height: 30px;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: $shadow;
            background: $background-color;
            border-radius: $border-radius;
            border: $border;
        }
        &::-moz-range-thumb {
            box-shadow: $shadow;
            border: $border;
            height: 50px;
            width: 20px;
            border-radius: $border-radius;
            background: #FFFFFF;
            cursor: pointer;
        }
        &::-ms-track {
            width: 100%;
            height: 30px;
            cursor: pointer;
            animate: 0.2s;
            background: transparent;
            border-color: transparent;
            color: transparent;
        }
        &::-ms-fill-lower {
            background: $background-color;
            border: $border;
            border-radius: $border-radius;
            box-shadow: $shadow;
        }
        &::-ms-fill-upper {
            background: $background-color;
            border: $border;
            border-radius: $border-radius;
            box-shadow: $shadow;
        }
        &::-ms-thumb {
            margin-top: 1px;
            box-shadow: $shadow;
            border: $border;
            height: 50px;
            width: 20px;
            border-radius: $border-radius;
            background: #FFFFFF;
            cursor: pointer;
        }
        &:focus::-ms-fill-lower {
            background: $background-color;
        }
        &:focus::-ms-fill-upper {
            background: $background-color;
        }
    }
}
